<%- include partials/header.ejs %>
<h1>Adam</h1>
<p>My name is <%= myName %>. I'm currently enrolled in Georgians colleges' Web Design and Development program.
    Upon completion of this program I'll be entering the COPA program at Georgian.  I enjoy Baseball, Endurocross, and Hockey.</p>
</body>
</html>