<%- include partials/header.ejs %>
<h1>Cory</h1>
<p>My Dad's name is <%= myName %> he own and operates his own construction
    company that my grandfather started. He enjoys being outdoors and hunting.</p>
</body>
</html>