<%- include partials/header.ejs %>
<h1>Kelsey</h1>
<p>My sister's name is <%= myName %> she is currently living in Nice, France; attending the University of Nice in a joint
    program with the university of Guelph.
    She is majoring in French and minoring in Spanish. She enjoys travelling and has been all across Europe.</p>
</body>
</html>