<%- include partials/header.ejs %>
<h1>Sandra</h1>
<p>My mothers name is <%= myName %>. She currently works at the hospital in my hometown part-time, and in the summer is a front desk agent
    at a relatives hotel in Tobermory, Ontario.</p>
</body>
</html>